{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block "title" %} home {% endblock "title" %}</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-blur bg-cover " style="background-image: url('{% static 'image/bgblue.jpg' %}'); backdrop-filter: blur(24px); height: 100vh; width: 100vw;"
  >
    {% include "elements/navbar.html" %}

    <div>{% block container %} {% endblock container %}</div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>


</body>
</html>
